<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS Basics</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- App1: Variables -->
    <div class="title">1. Variables</div>
    <div id="app1" class="application">
      <h1>{{greeting}}</h1>
    </div>

    <!-- App2: Conditional Statments -->
    <div class="title">2. Conditional statements</div>
    <div id="app2" class="application">
      <h1 v-if="isFriend">{{greeting}}</h1>
    </div>

    <!-- App3: User Input -->
    <div class="title">3. User Input</div>
    <div id="app3" class="application">
      <h1>{{greeting}} {{name}}</h1>
      <input v-model="name" />
    </div>

    <!-- App3: Loops -->
    <div class="title">4. Loops</div>
    <div id="app4" class="application">
      <ul>
        <li v-for="item in shoppingList">{{item}}</li>
      </ul>
    </div>

    <!-- App5: Methods -->
    <div class="title">5. Methods</div>
    <div id="app5" class="application">
      <h1>{{count}}</h1>
      <button @click="add">Add to count</button>
    </div>
  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</html>
