.application {
  width: 500px;
  min-height: 50px;
  height: auto;
  border: 1px solid lightseagreen;
  background: #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  width: 100px;
  background: #ccc;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid lightseagreen;
  border-bottom: 0px;
}
